body {
  background: black;
  margin: 0;
}

body:after {
  /*background: url(../graphics/grid.png) center center;*/
  /*background-size: 80px 80px;*/
  background-color: black;
  position: absolute;
  position: fixed;
  display: block;
  content: "";
  opacity: 0.1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

img {
  display: block;
  width: 100%;
}

.scene {
  max-width: 1142px;
  max-height: 922px;
  margin: 0 auto;
  padding: 0;
}

.layer:nth-child(1) {
  opacity: 1;


}
.layer:nth-child(2) {
  opacity: 1;
  max-width: 720px;
  max-height: 220px;
  margin-left: 200px;
  margin-top: 600px;
}
.layer:nth-child(3) {
  opacity: 1;
  max-width: 720px;
  max-height: 220px;
  margin-left: 200px;
  margin-top: 600px;
}
.layer:nth-child(4) {
  opacity: 1;
  max-width: 720px;
  max-height: 220px;
  margin-left: 200px;
  margin-top: 600px;
}
.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(6) {
  opacity: 0.90;
}
